
/* GENERAL RULES */

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Signika', sans-serif;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #7d7f84;
}

/* main container */

.maincontainer{
  display:flex;
  height: calc(100vh - 75px);
}

/* ASIDE */

#desktop-aside{
  width:250px;
  padding-left: 20px;
  background-color: #000;
  line-height:25px;
  display: flex;
  flex-direction: column;
  z-index:5;
}

#aside_logo{
  max-width: 70%;
}

.aside-nav img{
  max-width:12%;
  margin-top: 10px;
}

.aside-nav h4{
  color:white;
  padding: 20px 0 10px;
}

aside ul{
  overflow-y: auto;
  height: 70%;
}

#plus{
  font-size: 40px;
}

aside div:last-child{
  display: flex;
  flex-direction: column;
}

#playlists{
  flex-grow: 2;
  height: 100px;
  flex-shrink: 0;
  margin-top: 20px;
}

/*ASIDE BOTTOM PART  */

#app_download{
  display: flex;
  margin-bottom: 10px;
}

#profile{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside hr{
  width:calc(100% - 30px);
  margin-right: 20px;
}

#app_download img , #profile img {
  max-width:10%;
  max-height:100%;
  margin-right: 20px;
}

#profile img{
  background-color: #7d7f84;
  border-radius:50%;
  padding: 2px;
}

/* SMARTPHONE ASIDE */

#smartphone-aside {
  width: 70px;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

#smartphone-aside>div {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#smartphone-aside img {
  width: 30px;
}

/* HEADER */

header{
  width:100%;
  height: 75px;
  background-color: #080b12;
  opacity: .5;
  position: fixed;
  right:0;
  top:0;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header button{
  width:20%;
  height:40%;
  background-color: transparent;
  color:#fff;
  font-weight: bolder;
  border:solid 2px white;
  border-radius: 30px;
  font-size: 12px;
  margin-right:  25px;
}

/* MAIN SECTION NAVBAR */

nav{
  width:80%;
  margin:auto;
}

nav ul{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li{
  padding:15px;
  font-size: 14px;
  font-weight: bolder;
  color: #7d7f84;
}


/* MAIN SECTION */

main{
  padding-top:100px;
  width:calc(100vw - 200px);
  height:100%;
  background-color: #141922;
  padding-bottom: 15vh;
  overflow-y: scroll;
  color:white;
}

#recently , #foruser , #popular{
  width:95%;
  margin:20px auto;
}

#recently h2 , #foruser h5 , #popular h5{
  margin: 20px 0 ;
}

.flexrow{
  display: flex;
  flex-wrap: wrap;
}

/* ALBUM BOX */

.box{
  padding:10px;
  width: calc(100% / 6);
  text-align: center;
}

.box img{
  width:100%;
}

.box h4{
  margin:10px auto;
  font-size: 16px;
  font-weight: bolder;
}

.box h5{
  color:#7d7f84;
}

.box > div{
  position:relative
}

/* ALBUMS LAYOVER*/

.layover{
  display:none;
  width:100%;
  height: calc(100% - 5px);
  position:absolute;
  left:0;
  top:0;
  background-color:rgba(0, 0, 0, 0.5);
}

.layover .lay {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50% , -50%);
  font-size: 50px;
  color:white;
}

.circleimg{
  border-radius: 50%;
}

/* PLAYER */

footer{
  position:sticky;
  bottom:0;
  width:100%;
  height:75px;
  background-color: #282828;
  z-index: 999;
  display: flex;
  align-items:center;
  color:white;
}

#onplay img{
  max-height: 60px;
  margin-left: 20px;
}

.icon{
  margin-left:20px;
  color: #7d7f84;
}

.icon i{
  padding:10px;
}

.author{
  margin-left: 10px;
}

.author h6{
  color:#7d7f84;
}

.player{
  text-align: center;
  flex-grow:5;
}

.player i{
  margin: 15px 15px 10px 15px;
  transform: scale(.9);
}

#play{
  transform: scale(1.6);
}

#range{
  margin-top: 10px;
  margin-bottom: 10px;
  width:70%;
  max-height: 3px;
  appearance:none;
  border-radius: 10px;
  background: #d3d3d3;
  opacity: 0.7;
}

#range::-moz-range-thumb{
  width:10px;
  height:10px;
}

.volume i{
  margin-right:15px;
  transform:scale(.8);
}

.volume{
  width:20%;

  margin-right: 30px;
}

.volume input{
  width:30%;
  max-height: 3px;
  appearance:none;
  vertical-align: middle;
  border-radius: 10px;
  background: #d3d3d3;
  opacity: 0.7;
}

.volume input::-moz-range-thumb{
  width:10px;
  height:10px;
}

/* MEDIA QUERY */

@media all  and (max-width:768px){

  #desktop-aside{
    display:none;
  }

  main{
    width:calc(100vw - 70px);
  }

  #smartwidthdownload{
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media all and (min-width:769px) and (max-width:991px) {
  .box {
    width: calc(100% / 4);
  }

  .player i{
    transform: scale(.8);
    margin:5px;
  }

  #play{
    transform: scale(1);
  }

  #range{
    width:90%;
  }
}

@media all and (max-width:768px) {
  .box {
    width: calc(100% / 2);
  }

  .player i{
    transform: scale(.8);
    margin:5px;
  }

  .smartremove{
    font-size: 0;
    padding:0;
    margin:0;
    display: none;
  }

  #play{
    transform: scale(1);
  }

  #range{
    width:90%;
  }
  header button{
    width:50%;
  }
}

@media all and (min-width:769px) {
  #smartphone-aside {
    display: none;
  }
}

/* HOVER */

a:hover{
  color:white;
}

i:hover{
  cursor: pointer;
}

footer i:hover{
  transform:scale(1.3);
  cursor: pointer;
  color:white;
}

button:hover{
  transform: scale(1.1);
  text-decoration: underline;
}

.aside-nav > div:active {
  border-left: solid green 2px;
}

.box:hover .layover{
  display:block;
}

header button:hover{
  cursor:pointer;
}

nav ul li:active{
  border-bottom:solid 1px green;
}
