
  /* GENERAL RULES */

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Signika', sans-serif;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #7d7f84;
}

/* main container */

.maincontainer{
  display:flex;
  height: calc(100vh - 75px);
}

/* ASIDE */

aside{
  width:250px;
  padding-left: 20px;
  background-color: #000;
  line-height:25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index:3;
}

#aside_logo{
  max-width: 70%;
  margin-top: 20px;
  margin-right: 50px;
}

.aside-nav img{
  max-width:12%;
  max-height:100%;
  margin-top: 10px;
}

.aside-nav a{
  color: #7d7f84;
  text-decoration: none;
}

.aside-nav h4{
  color:white;
  padding: 20px 0 10px;
}

aside ul{
  overflow-y: auto;
  height: 100%;
}

aside ul li {
  font-size: 14px;
  color: #7d7f84;
}

#plus{
  font-size: 40px;
}

aside div:last-child{
  display: flex;
  flex-direction: column;
}



/*ASIDE BOTTOM PART  */


aside ul li,  #profile , #app_download , aside hr{
  color: #7d7f84;
}

#app_download{
  display: flex;
  margin-bottom: 10px;
}

#profile{
  display: flex;
  margin-top: 10px;
}

aside hr{
  width:calc(100% - 30px);
  margin-right: 20px;
}



#app_download img , #profile img {
  max-width:10%;
  max-height:100%;
  margin-right: 20px;
}

#playlists{
flex-grow: 2;
height: 100px;
flex-shrink: 0;
margin-top: 20px;
}



/* HEADER */

header{
  width:100%;
  height: 75px;
  background-color: #080b12;
  opacity: .5;
  position: fixed;
  right:0;
  top:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header button{
  width:20%;
  height:40%;
  background-color: transparent;
  color:#fff;
  font-weight: bolder;
  border:solid 2px white;
  border-radius: 30px;
  font-size: 12px;
  margin-right:  25px;
}

/* MAIN SECTION NAVBAR */

nav{
  width:80%;
  margin:auto;
}

nav ul{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li{
  list-style: none;
  padding:15px;
  font-size: 14px;
  font-weight: bolder;
  color: #7d7f84;
}


main{
  padding-top:100px;
  width:calc(100vw - 200px);
  height:100%;
  background-color: #141922;
  padding-bottom: 15vh;
  overflow-y: scroll;
  color:white;
}

/* MAIN SECTION */

#recently , #foruser , #popular{
  width:95%;
  margin:20px auto;
}

#recently h2 , #foruser h5 , #popular h5{
  margin: 10px 0 ;
}

.flexrow{
  display: flex;
  flex-wrap: wrap;
}

/* ALBUM BOX */

.box{
  padding:10px;
  width: calc(100% / 6);
  max-height:300px;
  text-align: center;
}

.box img{
  width:100%;

}

.box h4 , .box h5{
    width: 100%;
}

.box h4{
  margin:10px auto;
  font-size: 16px;
  font-weight: bolder;
}

.box h5{
color:#7d7f84;
}

/* CIRCLE ALBUM BOX */

.circleimg{
  border-radius: 50%;
}
.xx{
  width:100%;
  display:flex;
  height:calc(100% - 75px);
}
/* PLAYER */

footer{
  position:sticky;
  bottom:0;
  width:100%;
  height:75px;
  background-color: #282828;
  z-index: 999;
  display: flex;
  align-items:center;
  color:white;
}


#onplay img{
  max-height: 60px;
  margin-left: 20px;
}



.icon{
  margin-left:20px;
  color: #7d7f84;
}
.icon i{
  padding:10px;
}

.author{
  margin-left: 10px;
}

.author h6{
  color:#7d7f84;
}

.player{
  text-align: center;
  flex-grow:5;
}

.player > div{
  width:100%;
}

.player i{
  margin: 15px 15px 10px 15px;
  transform: scale(.9);
}

#play{
  transform: scale(1.8);
}

#range{
  margin-top: 10px;
  margin-bottom: 10px;
  width:60%;
  max-height: 3px;
  appearance:none;
  border-radius: 10px;
  background: #d3d3d3;
  opacity: 0.7;
}

#range::-moz-range-thumb{
  width:10px;
  height:10px;
}

.volume i{
  margin-right:15px;
  transform:scale(.8);
}

.volume{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.volume input{
  width:40%;
  max-height: 3px;
  appearance:none;
  vertical-align: middle;
  border-radius: 10px;
  background: #d3d3d3;
  opacity: 0.7;
}

.volume input::-moz-range-thumb{
  width:10px;
  height:10px;
}
