*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  color:white;
  overflow: hidden;
  font-family: 'Signika', sans-serif;
}

aside{
  width:20vw;
  height:calc(100vh - 150px);
  background-color: #000;
  position: fixed;
  left:0;
  top:0;
  z-index:3;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: space-between;
}

ul li{
  list-style: none;
}

#aside_logo{
  padding:5%;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aside-nav img{
  max-width:25%;
  max-height:100%;
}

.aside-nav{
  max-height: 25px;
  max-width: 100%;
  margin-bottom: 5px;
}

.aside-nav a{
  color: #7d7f84;
  text-decoration: none;
}

#playlist{
  color: #7d7f84;
  margin:30px auto 10px 0;
}
#add{
  padding-bottom:20px ;
}
#add h5 {
    display: inline;
    position: relative;
    bottom: 20px;
}

#add i{
transform: scale(2.5);
margin:20px;
}


#add h5 , aside ul li, aside span, #profile , #app_download , aside hr{
  color: #7d7f84;
}

aside ul{
  overflow-y: auto;
  flex-grow: 3;
  max-height: 60%;
}

aside ul li {
  margin-bottom:15px;
  color: #7d7f84;
}

aside hr{
  width:90%;
  align-self:baseline;
}

#app_download{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profile span , #app_download span {
  margin-left:25px;
}

#profile{
  margin-top:20px;
  margin-bottom: 5px;
}


#app_download img {
  max-width:10%;
  max-height:100%;
  position:relative;
  top:5px;
}

#profile img{
  max-width: 10%;
  max-height: 100%;
}


header{
  width:100%;
  height: 10vh;
  background-color: #080b12;
  opacity: .5;
  position: fixed;
  right:0;
  top:0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header button{
  width:20%;
  height:40%;
  background-color: transparent;
  color:#fff;
  font-weight: bolder;
  border:solid 2px white;
  border-radius: 30px;
  font-size: 12px;
  margin-right:  25px;
}

nav{
  width:80%;
  margin:auto;
}
nav ul{
  display:flex;
  justify-content: space-around;
  align-items: center;

}

nav ul li{
  list-style: none;
  padding:15px;
  font-size: 10px;
  color: #7d7f84;
}

main{
  padding-top:10vh;
  width:80vw;
  height:calc(100vh - 150px);
  margin-left: 20vw;
  background-color: #141922;
  padding-bottom: 15vh;
  overflow-y: scroll!important;
}

#recently , #foruser , #popular{
  width:95%;
  margin :20px auto;
}

.flexrow{
  display: flex;
  flex-wrap: wrap;
}

.box{
  margin-bottom: 25px;
margin-right: 15px;
width: 200px;
max-height:300px;
}

.box img{
  max-width:100%;
  max-height: 80%;
}

.box h4 , .box h5{
  text-align: center;
}

.box h4{
  margin:10px auto;
  font-size: 16px;
  font-weight: bolder;
}
.box h5{
color:#7d7f84;
}
.circleimg{
  border-radius: 50%;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  min-height:150px;
  background-color: #282828;
  overflow: hidden;
  z-index: 9;

}
